* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

.wrapper{
    display: flex;
    height: 100vh;
    width: 100vw;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.boxes{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.div{
    width: 200px;
    height: 200px;
    border: 1px solid black;
    background-color: beige;
    display: flex;
    justify-content: center;
    align-items: center;
}

.color-btn{
    padding-left: 10px;
    padding-right: 10px;
    font-size: 15px;
}

.reset-btn{
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 20px;
}
